<p
style="font-family: sans-serif; color: dark-grey; font-size: 30; text-indent: 6%">
  <%= @encrypted.inspect %> decrypts to <%= @decrypted.inspect %>
</p>

<p>
  <a href="/" style="font-family: sans-serif; color: black; font-size: 10; position: relative; top: 20%; left: 6%; text-decoration: none">Back</a>
</p>
