<p
style="font-family: sans-serif; color: grey; font-size: 25; display: block; left: 50px">>
  <%= @encrypted.inspect %> decrypts to <%= @decrypted.inspect %>
</p>

<p>
  <a href="/" style='font-family:sans-serif; color: black; font-size: 14'>Back</a>
</p>
