<p
style="font-family: sans-serif; color: dark-grey; font-size: 30">
  <%= @encrypted.inspect %> decrypts to <%= @decrypted.inspect %>
</p>

<p>
  <a href="/" style='font-family:sans-serif; color: black; size: 14'>Back</a>
</p>
