<p
style="font-family: sans-serif; color: grey; font-size: 20; display: block; left: 50px">
  <%= @decrypted.inspect %> encrypts to <%= @encrypted.inspect %>
</p>

<p>
  <a href="/" style='font-family: sans-serif; color: black'>Back</a>
</p>
