<p
style="font-family: sans-serif; color: dark-grey; font-size: 30; display: block; left: 50px">
  <%= @decrypted.inspect %> encrypts to <%= @encrypted.inspect %>
</p>

<p>
  <a href="/" style='font-family: sans-serif; color: black; size: 14'>Back</a>
</p>
