<form action="/encrypt" method="post" style='font-family: sans-serif'>
  <input type="text" name="message">
  <input type="submit" value="encrypt">
</form>

<form action="/decrypt" method="post" style='font-family: sans-serif'>
  <input type="text" name="message">
  <input type="submit" value="decrypt">
</form>
