<!DOCTYPE html>
<html>
<link rel="stylesheet" href="stylesheet.css">
  <head>
    <title>Caesar Cipher</title>
  </head>
  <body>
    <h1
    style='font-family: sans-serif; font-size: 35; left: 20%'>
      Caesar Cipher
    </h1>
    <%= yield %>
  </body>
</html>
